<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'signup.css' %}">
</head>
<body>

<div class="container">
    <form method="POST" enctype="multipart/form-data" id="signupForm" class="signup-box">
        {% csrf_token %}
        <h2>Sign in to your Account</h2>
        <input type="text" id="username" placeholder="username" name="username"  required>
        <input type="password" id="password" placeholder="password" name="password" required>

        <button type="submit">Sign In</button>
    </form>
</div>
</body>
</html>